@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1440px;
  margin: auto;
}  

main {
	display: flex;
	flex-direction: row;
}

h1 {
  color: $color-white;
  margin: 40px;
}

h2 {
  color: $color-secondary;
  margin: 0;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

footer {
  @include el-center;
}