.btn {
    background: $color-primary-hover;
    color: $color-light;
    font-size: 1rem;
    cursor: pointer;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: 0.2rem solid $color-light;
    margin-top: 20px;
    width: auto;
    &:hover {
        background: $color-primary;
    }
}